html{
  max-width: 1300px;
}

.boby {
  width: 100%;
}

/*ヘッダー */
.header-logo img {
  width: 10vw;
  padding: 10px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
}
.logo {
  background: #eee;
  padding: 10px 20px;
  display: inline-block;
}
nav {
  margin-left: auto;
}
nav ul {
  display: flex;
}
nav ul li a {
  padding: 0 20px;
}

/*main */
.main-relative {
  position: relative;
  right: 0%;
}

.relative_img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.main-absolute1 {
  position: absolute;
  top: 5%;
  left: 10%;
}

.main-absolute2 {
  position: absolute;
  top: 10%;
  left: 15%;
  font-size: 20px;
}

/*News */
.content-news {
  width: 100%;
  margin-top: 10px;
}

.news-list {
  text-align: center;
  width: 50%;
  margin: 10px auto;
}

.news-list li{
  display: flex;
  padding:15px;
  border-bottom:1px solid #000;
}

.day{
  
}
.label{
  background-color:blue;
  border-radius:30px;
  color:#fff;
  padding:2px 5px;
  margin:0 20px;
}
.text{
  
}